<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p style ="color:aqua">This is my girlfriend, i met her 2014:02 at university of limpopo. She"s a strong woman and i love her so much, and i like to appreciate the chances, she gave me and made me a better man. i belive me and her we will be happily forver and take good care of each other so in this case i have special message for her I LOVE YOU and THANK you for the Love you showed me!!  </p>
        <img class="portrait" src="/img/Thapelo.jpg">
        <p style ="color:blueviolet">i believe you will find this message, i just wanna tell you how much you mean to me i may be boring at sometimes, i may make you angry and sad but i couldnt ask for more so that i want you to know that i Miss you and take good care of you !! my plan is i will Creat the special site for us, will be a memory of us and our trips and our life time beacause we gonna grow old together with our own property and family your future Husb</p>
    </div>
    
    {{>footer}}
</body>

</html>